page-signup {

    ion-content {
        font-family: 'Raleway', sans-serif;

        background: #ff9966;
        background: -webkit-linear-gradient(to bottom, #ff9966, #ff5e62);
        background: linear-gradient(to bottom, #ff9966, #ff5e62);         
    }

    .item-block {
        background: transparent;
    }

}